@page "/reports"


<PageTitle>Time Reports</PageTitle>

<div class="content-container">
    <div class="text-container">
        <h1><em>Reports</em></h1>
    </div>
    @if (workplaces == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="container">
            <div class="form-container">
                <div class="form-group">
                    <label for="workplace">Workplace:</label>
                    <select @onchange="SetSelectedId" name="workplace" class="form-control">
                        <option value="0" selected>All</option>
                        @foreach (var workplace in @workplaces)
                        {
                            <option value="@workplace.Id">@workplace.Name (@workplace.Id)</option>
                        }
                    </select>

                </div>
                <div class="form-group">
                    <label for="fromdate">From:</label>
                    <input @bind-value="dates[0]" name="fromdate" type="date" class="form-control" min="@dateTimeNow.AddYears(-5)" />
                </div>

                <div class="form-group">
                    <label for="todate">To:</label>
                    <input @bind-value="dates[1]" name="todate" type="date" class="form-control" max="@dateTimeNow.AddDays(7)" />
                </div>


                <button @onclick="GetAllTimeReportsById" class="btn btn-primary" type="submit">Search</button>

            </div>
        </div>

    }
    @if (timeReportList != null)
    {
        @if (@timeReportList.Count == 0)
        {
            @if (@dates[0] > @dates[1])
            {
                <p><em>"From" date can't be greater than "To"</em></p>
            }
            else
            {
                <p><em>No Data between the entered dates</em></p>
            }
        }
        else
        {
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th><button @onclick="SortById" class="btn btn-link">Id</button></th>
                            <th><button @onclick="SortByDate" class="btn btn-link">Date</button></th>
                            <th><button @onclick="SortByHour" class="btn btn-link">Hours</button></th>
                            <th><button @onclick="SortByWorkplaceId" class="btn btn-link">WorkplaceId</button></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var timeReport in timeReportList)
                        {
                            <tr>
                                <td>@timeReport.Id</td>
                                <td>@timeReport.Date.ToShortDateString()</td>
                                <td>@timeReport.Hours</td>
                                <td>@timeReport.WorkplaceId</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    }
    <ErrorComponent Error="@_error" ErrorMessage="@_errorMessage" />
</div>
