@page "/single"

<PageTitle>Single Report</PageTitle>

<div class="container">
    <div class="form-container">
        <h1>Get Single Report</h1>

        <div class="form-group">
            <input @bind-value="@_reportID" type="text" placeholder="Report number" class="form-control" />
            <button class="btn btn-primary" @onclick="GetSingleReport">Search</button>
        </div>

        @if (_timeReport != null)
        {
            <div class="result-container">
                <p>
                    Id = @_timeReport.Id <br />
                    Workplace Id = @_timeReport.WorkplaceId <br />
                    Hours = @_timeReport.Hours <br />
                    Date = @_timeReport.Date.ToShortDateString() <br />
                    Info = @_timeReport.Info
                </p>
            </div>
        }
        else
        {
            <div class="result-container">
                <p><em>No Report with that Id</em></p>
            </div>
        }
    </div>
</div>
@code {
    [Inject]
    private ITimeReportService _timeReportService { get; set; }
    private int _reportID;
    private TimeReport _timeReport;
   
    private async Task GetSingleReport()
    {
        _timeReport = await _timeReportService.GetSingleTimeReport(_reportID);
    }
}
